body{
    background-color: teal
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    background-color: lightblue;
    padding: 30px;
    width: 250px;
    height: 100px;
    animation: zoom 1s ease-in-out 1;
}
@keyframes zoom{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1);
    }
}