.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}
.container img{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 40px plum;
    justify-content: center;
}
.btn{
    display: flex;
}
.btn button{
    width: 150px;
    padding: 10px;
    background-color: teal;
    color: lightblue;
    margin: 20px;
    border-radius: 20px;
}
